# This is Git's per-user configuration file.
[user]
	name = jukvalim
	email = jukka.valimaa@gmail.com
[core]
  excludesfile = ~/.gitignore

[alias]
  # push and set upstream
  psu = "!f(){ git push -u origin $(git rev-parse --abbrev-ref HEAD); };f"
  # log of my commits
  mine = log --author=jukvalim --author=jukka.valimaa
  # undo latest commit
  resetlast = reset HEAD~
[pull]
	rebase = false
